/**********for all**********/
body {
    background-color: #444444;
}
/**********for all**********/


/**********index.php**********/
h1 {
    color: white;
    margin-bottom: 0;
}

#warning-text {
     color: white;
     visibility: hidden;
 }

#index-header {
    margin-top: 5vh;
    margin-bottom: 0;
}

.form-container {
    margin-top: 0;
}

#in-form {
    margin-top: 0;
}

.form-check-label {
    color: white;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #75797E, white, #75797E);
}

#popup a, #popup a:visited {
    position: relative;
}

#popup a span {
    display: none;
}

#popup a:hover{
    color: lightslategrey;
}

#popup a:hover span {
    display: block;
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 0;
    width: 320px;
    color: #3D3C41;
    font-weight: normal;
    background: pink;
    text-align: left;
}

#btn-index-div {
    width: 90vw;
    margin-top: 7vh;
}

#no-question-hint {
    color: white;
    text-align: center;
    visibility: hidden;
}

tbody {
    background: white;
}

tbody tr:nth-of-type(odd){
    background: #B8E8CC;
}

.center-align {
    text-align: center;
    /*margin: auto;*/
}

.has_underline a {
    color: #212529;
    text-decoration: underline;
}
/**********index.php**********/


/**********ask.php**********/
#ask-head {
    height: 20vh;
}

#remain-ch-div, #ask-submit-cancel {
    margin-top: 2vh;
}

.remain-ch {
    color: white;
}
/**********ask.php**********/


/**********detail.php**********/
#detail-head {
    height: 15vh;
}

#q-content-div, #detail-ask-delete-back, #detail-answer {
    margin-top: 2vh;
}

#qcontnt {
    background-color: #B8E8CC;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#btn-answer,#btn-delete,#btn-back {
    padding-left: 8px;
    padding-right: 8px;
}

.rating-record {
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}

.answer-p {
    background-color: white;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 2vh;
    margin-bottom: 0;
}
/**********detail.php**********/


/**********answer.php**********/
#answer-head {
    height: 20vh;
}

#answer-content-div, #answer-remain-ch, #answer-submit-cancel {
    margin-top: 2vh;
}

#answer-content-p {
    background-color: #F6E6CC;
    padding: 4px;
}

#answer-type-hint {
    color: white;
    margin-top: 5vh;
}

#answer-text-div {
    margin-top: 1vh;
}

.answer-rm-num {
    color: white;
}
/**********answer.php**********/